<% layout('layouts/boilerplate')%>

<div class="container" style="margin: 40px auto; width: 50%;">
    <h1><%= weather.city%>, <%= weather.state%></h1>
    <h2><%= weather.gridX%></h2>
    <div class="card">
        <div class="card-header">
            <%= current.name%>
        </div>
        <div class="card-body">
            <h3 class="card-title">Temperature: <%= current.temperature%> F&deg;</h3>
            <p class="card-text"><%= current.shortForecast%></p>
            <a href="#" class="btn btn-primary"><%= current.windSpeed%></a>
        </div>
    </div>


    <% for(let i=0; i<=12;i++){ %>
        <div class="hourly">
            <div class="card">
                <div class="card-header">
                    <%= hourly[i].startTime%>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Temperature: <%= hourly[i].temperature%> F&deg;</h3>
                    <p class="card-text"><%= hourly[i].shortForecast%></p>
                    <a href="#" class="btn btn-primary"><%= hourly[i].windSpeed%></a>
                </div>
            </div>
        </div>
    <% } %>  
    
    
</div>

