<% layout('layouts/boilerplate')%>

<div class="index-container">
    <div class="city-name"><%= weather.city%>, <%= weather.state%></div>
    <div class="forecast-box">
        <div class="date-name-box">
            <div class="name-box"><%= current.name%></div>
            <div class="date-box"><%= current.startTime%></div>
        </div>
        <div class="temp-img-box">
            <div class="temp-box">
                <span class="temp"><%= current.temperature %></span>
                <span class="degree">&deg;</span>
            </div>
            <div class="img-box">
                <!-- <img src="https://api.weather.gov/icons/land/day/rain_showers,20?size=medium" alt=""> -->
                <img src="<%= current.icon%>" alt="">
            </div>
        </div>
        <div class="detailed-box">
            <%= current.detailedForecast%>
        </div>
    </div>
</div>